<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>COPOM - Dashboard</title>

  <link rel="stylesheet" href="../Static/style.css"/>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="home-body">

  <div class="screen active">
    <div class="container">

      <h1>COPOM - Dashboard</h1>
      <p>Painel gerencial de ocorrências</p>

      <div class="dashboard-grid">

        <!-- GRAFICO 1 -->
        <div class="chart">
          <h3>Ocorrências por Tipo (Empilhado por Data)</h3>
          <canvas id="chart-1"></canvas>
        </div>

        <!-- GRAFICO 2 -->
        <div class="chart">
          <h3>Ocorrências por Cidade</h3>
          <canvas id="chart-2"></canvas>
        </div>

        <!-- KPI LATERAL -->
        <div class="kpi-panel">
          <div class="kpi-item">
            <h4>Total</h4>
            <span id="kpi-total">0</span>
          </div>

          <div class="kpi-item">
            <h4>Aguardando</h4>
            <span id="kpi-aguardando">0</span>
          </div>

          <div class="kpi-item">
            <h4>Visualizado</h4>
            <span id="kpi-finalizadas">0</span>
          </div>
        </div>

      </div>

      <button onclick="logout()">Sair</button>
      <div class="link-group"> <a href="cadastro.html">Cadastrar Operador</a> </div>
    </div>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
  <script src="../Scripts/conexao.js"></script>
  <script src="../Scripts/home.js"></script>

  <script>
    function logout() {
      localStorage.removeItem("usuarioLogado");
      window.location.href = "login.html";
    }
  </script>

</body>
</html>